#galleryContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: stretch;
    width: 100%;
    margin: 0 auto;
    gap: 1em;
}


.galleryItem
{
    width: 18em;
    height: 18em;
    object-fit: cover;
    overflow: hidden;
}

.galleryItem img
{
    width: 100%;
    height: auto;

    transition: transform 1s;
}

.galleryItemCover
{
    display: block;
}

.galleryItemGif
{
    display: none;
}


.galleryItem:hover .galleryItemGif
{
    display: block;
}

.galleryItem:hover .galleryItemCover
{
    display: none;
}
