#headerContentContainer
{
    margin: 0vw 20vw 10vw 20vw;
}

#headerImageContainer
{
    width: 25vw;
    padding: 2vw;
}

#headerImage
{
    width: 100%;
    height: auto;
}

#headerText
{
    padding: 0vw 2vw;
    flex-shrink: 2;
}
