#headerContentContainer
{
    margin: 0vw 8vw 1vw 8vw;
}

#headerImageContainer
{
    width: 25vw;
    padding: 2vw;
}

#headerImage
{
    width: 100%;
    height: auto;
}

#headerText
{
    padding: 2em 0vw;
    flex-shrink: 2;
}
